.icon {
    color: rgb(0, 85, 85);
    font-size: 50px;
    cursor: pointer;
    display: inline-block;

    
}

.uploadInput {
    display: none;
}

img {
    width: 200px;
    height: 200px;
}
@import "./gallery";
 @import "./slider"